/*
font-family: 'Open Sans',sans-serif;
*/
*{
  margin:0;
  padding:0;
}
body{
  margin-top: 0;
  font-family: 'Open Sans',sans-serif;
}
.navbar {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: .5rem 1rem;
	/* min-height: 100px; */
	margin-top: -8px;
}
.navbar-brand {
	display: inline-block;
	/* padding-top: .3125rem; */
	/* padding-bottom: .3125rem; */
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
	padding: 30px 0;
}
.navbar-light .navbar-nav .nav-link {
	color: #484C55;
	font-family: 'Open Sans',sans-serif;
	/* padding-top: 29px; */
	/* padding-bottom: 21px; */
	padding: 40px 20px;
	/* border-bottom: 0px; */
	transition: .3s;
	min-height: 109px;
}

 .nav-item:hover .nav-link {
	background: #f8f9fb;
	border-bottom: 3px solid #44c0c2;
}
#showcase {
	margin-top: -7px;
}
 .carousel-caption {
  position: absolute;
  right: 15%;
  bottom: auto;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  top: 24%;
}
.carousel {
  position: relative;
 
}
.display-4 {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 2;
  font-family: 'Open Sans',sans-serif;
}
.carousel-caption p{
  font-family: 'Open Sans',sans-serif;
}
.btn {
  padding: 7px 27px;
  border: 2px solid #fff;
}
.btn:hover{
  border-color: #44C0C2;
  color: #fff;
  background-color: #44C0C2;
}
.carousel-control-prev-icon{
  background: url(../img/left.png);
  background-size: cover;
  width: 51px;
  height: 51px;

}
.carousel-control-next-icon {
  background: url(../img/right.png);
  background-size: cover;
  width: 51px;
  height: 51px;
}
.service-area{
  overflow: hidden;
  padding-top: 104px;
  padding-bottom: 100px;
  background: #fff;
  text-align: center;
}
.service-area i {
  border: 2px solid #44C0C2;
  width: 110px;
  height: 110px;
  border-radius: 56px;
  font-size: 30px;
  text-align: center;
  line-height: 95px;
  color: #44C0C2;
}
.service-area h3{
  color: #4e525d;
  font-size: 20px;
  font-weight: 400;
  padding-top: 50px;
  padding-bottom: 30px;
}
.service-area p {
	color: #4e525d;
	font-size: 14px;
	line-height: 27px;
	font-weight: 500;
	padding-bottom: 15px;
}
.service-area a {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  background: #44C0C2;
  padding: 5px 13px;
  border-radius: 4px;
}
.portfolio-area{
  background: #F1F1F1;
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 110px;

}
.portfolio-heading {
	padding-bottom: 50px;
	text-align: center;
	color: #4e525d;
	font-size: 42px;
	font-family: 'Open Sans',sans-serif;
}
.single-portfolio{
  margin-bottom: 30px;
}
.single-portfolio img{
  width: 100%;
}
.p_button {
  padding-top: 60px;
  text-align: center;
}
.p_button a {
  text-decoration: none;
  background: #44C0C2;
  color: #fff;
  font-size: 24px;
  padding: 12px 36px;
}
.the-team-area {
	padding-top: 85px;
	padding-bottom: 100px;
	background: #ffff;
	overflow: hidden;
}
.single-team{
  text-align: center;
}
.single-team h2 {
	margin-top: 75px;
	font-family: 'Open Sans',sans-serif;
	color: #4e525d;
	font-size: 22px;
	/* padding-bottom: 10px; */
}
.single-team h4{
  font-family:'Open Sans',sans-serif;
  color: #4e525d;
  font-size: 14px;
  padding-bottom: 30px;
}
.single-team p{
   font-family:'Open Sans',sans-serif;
  color: #4e525d;
  font-size: 14px;
  }
.team-hover {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 100%;
  left: 27px;
  background: rgba(255,255,255,.6);
  opacity: 0;
  transition: 0.5s;
  border-radius: 50%;
}
.team-hover a{
  color: #F46D6D;
  font-size: 50px;
  line-height: 187px;
    display: block;
}
.team-img:hover .team-hover{
  opacity: 1;
  top: 0%;
}
.team-img{
  overflow: hidden;
  position: relative;
  text-align: center;

}

.team-img img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  
  
}
.team-heading {
	text-align: center;
	width: 100%;
	padding-bottom: 120px;
}
.pricing-table-area{
  background: #F1F1F1;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;

}
.single-table{
  background: #F8F9FB;
  overflow: hidden;
  text-align: center;
  color: #848B95;
}
.single-table h2 {
  padding: 20px 0px;
  font-size: 26px;
  font-weight: 400;
  background: #485460;
  color: #fff;
}
.single-table h3 {
  font-size: 20px;
  color: #485460;
  font-weight: 300;
  padding: 20px 0px;
}
.single-table ul{
  list-style-type: none;
  background: #ffff;
}
.single-table ul li:first-child{
  border-top: 1px solid #ECF0F1;
}
.single-table ul li{
  padding: 12px 0px;
  border-bottom: 1px solid #ECF0F1;
}
.single-table a{
  padding: 35px 0px;

display: inline-block;

margin: 35px 0px;

font-size: 17px;

color: #fff;

padding: 8px 45px;

background: #788492;
text-decoration: none;
border-radius: 4px;
}
.table-2 h2{
  background: #49CBCD
}
.table-2 a{
   background: #49CBCD;
}
.client-says-area {
	padding-top: 130px;
	padding-bottom: 98px;
	text-align: center;
	background: #ffff;
}
.client-says-heading h1{
    color: #4e525d;
    font-size: 42px;
    padding-bottom: 45px;
    font-weight: 400;
    font-family: 'Open Sans',sans-serif;

} 

.single-carousel p {
	color: #4e525d;
	padding-bottom: 30px;
	font-size: 19px;
	font-family: 'Open Sans',sans-serif;
	overflow: hidden;
	line-height: 1.8;
}
.single-carousel h3 {
	color: #c9c3d4;
	/* padding-bottom: 38px; */
	font-size: 20px;
	font-family: 'Open Sans',sans-serif;
}
.owl-prev {
  left: 0;
  position: absolute;
  top: 0%;
  font-size: 57px !important;
  color: #989898 !important;
}
.owl-next {
  right: 0;
  position: absolute;
  top: 0%;
  font-size: 57px !important;
  color: #989898 !important;
}
.footer-area {
	padding-top: 98px;
	padding-bottom: 80px;
	overflow: hidden;
	background: url(../img/footer.jpg) no-repeat scroll 0 0/100% 100%;
}
.footer-heading {
  color: #fff;
  text-align: center;
  padding-bottom: 100px;
  font-size: 40px;
  font-family: 'Open Sans',sans-serif;
}
.
.footer-left{}
.footer-left h2 {
  color: #fff;
  font-size: 24px;
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
}
.footer-left p {
  color: #989898;
  font-size: 14px;
   font-family: 'Open Sans',sans-serif;
   padding-bottom: 30px;
}
.footer-left ul {
  overflow: hidden;
  padding-bottom: 15px;
}
.footer-left ul li {
  float: left;
  list-style: none;
}
.footer-left ul li a {
  width: 37px;
  height: 37px; 
  border-radius: 50%;
  text-align: center;
  margin-right: 10px;
  color:#fff;
  display: block;
  line-height: 36px;
}
.footer-left ul li:first-child a {
  background: #3B5997;
}
.footer-left ul li:nth-child(2) a{
  background: #40C2F4;
}
.footer-left ul li:last-child a {
  background: #E44C41;
}
.footer-area address p{
  padding-bottom: 0px;
  color: #bfacc2;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 10px 20px;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-group textarea {
  height: 180px;
}
.btn-default {
  float: right;
  background: #49CBCD;
  border: none;
  color: #fff;
  padding: 4px 48px;
  border-radius: 3px;
}